@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    font-family: 'Questrial', sans-serif;
}

.dusty-orange {
    background-color: #ED8B72;
}

%border-style {
    border: 1px solid #FFFFFF;
    border-radius: 5em;
}

@mixin nav-elements($fsize: 1em) {
    font-size: $fsize;
    color: #FFFFFF;
}

.navbar-light.navbar-nav.nav-link{
    @include nav-elements;
}

.navbar-light.navbar-brand {
    @include nav-elements($fsize: 2em);
}

.connect {
    @include nav-elements;
    @extend %border-style;
    padding: 0.75em;
}
